<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>World View</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/main.css">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="../templates/app.js"></script>

</head>

<body>
    <div id='map' class="w3-container">
        <div id="form-style-6" class="form-style-6">
            <h1>Welcome to Live Social - Update Event</h1>
            <form action="" method="post">
                <input type="text" id="name1" name="field1" placeholder="Your Name" />
                <br/>
                <input type="email" id="email1" name="field2" placeholder="Email Address" />
                <br/>
                <textarea name="field3" id="details1" placeholder="Type details"></textarea>
                <br/>
                <br/>
                <input type="submit" onclick="submit()" href="javascript:;" />
            </form>
        </div>
    </div>
    <script>
        window.onload = function () {

            document.getElementById("form-style-6").style.display = "none";

        };
        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        }
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3VwZXJ0b25pZWZ5IiwiYSI6ImNqZGh5cDhwdzBmMHIycHNhcTd4b3p3ZHkifQ.E-jU9X_2jy_dj7qrxr_gjA';

        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
            center: [-96, 37.8],
            zoom: 2 // starting zoom
        });


        //create a layer which will parse and display the users/location

        var geolocate = new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        });


        map.addControl(geolocate);

        geolocate.on('geolocate', (e) => {
            console.log(e)
            coordinates2 = e.coords.longitude
            coordinates1 = e.coords.latitude
            console.log(coordinates1)
            map.on('dblclick', function (e1) {
                var el = document.createElement('div');
                el.className = 'marker';
                new mapboxgl.Marker(el)
                    .setLngLat(e1.lngLat)
                    .addTo(map);
                document.getElementById("form-style-6").style.display = "block";
                //document.getElementById("form-style-6").style.visibility = "visible";

            });
        });
        function submit() {
            var name = document.getElementById('name1');
            var mail = document.getElementById('email1');
            var text = document.getElementById('details1');
            console.log(name)
        }

        map.on('mouseenter', function () {
            map.getCanvas().style.cursor = 'pointer';
        });
        var uuid = guid();
        var event1 = null;

        var ws = new WebSocket("@wsUrl");

        ws.onmessage = function (event) {
            var data = JSON.parse(event.data);
            if (eventMarkers[data.event1] == null) {
                var el = document.createElement('i');
                el.className = 'marker';
                el.addEventListener('click', function () {
                    status = 'new event';
                    event1 = data.event1;

                    //Add directions to the event for the user
                    // in this function
                })
            }
        }
        window.setInterval(function () {
            if ((marker != null) && (ws.readyState == 1)) {
                ws.send(JSON.stringify({ user: uuid, lngLat: [coordinates1, coordinates2] }));
            }
        })



    </script>
</body>

</html>